<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.kcroz.joggr"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:name="android.hardware.location.gps"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <service
            android:name=".RecordRoute.GPSService"
            android:label="GPS Service"/>

        <activity android:name=".MainActivity"
                  android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".JoggingActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ListRuns.ListRunsActivity">
        </activity>

        <activity android:name=".ViewRoute.ViewRouteActivity"
                  android:screenOrientation="portrait">
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAOE7z3iDdymK-p-rfRujFI1x-oyHMDliw"/>

        <activity android:name=".ViewRoute.ViewRoutePagerAdapter">
        </activity>

        <activity android:name=".EditRunActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Heatmap.HeatmapActivity">
        </activity>
    </application>

</manifest>